@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

$lightGray: #ccc;

body {

    color: #212529;

    pre {
        font-family: 'Verdana', sans-serif;
        margin: 0;
        padding: 0;
        white-space: pre-wrap;

        &.mono{
            font-family: monospace;
        }

        &.cifra {
            font-weight: bold;
            color: orangered;

            &:first-child {
                margin-top: 1em;
            }
        }

    }

    #cabecalho {
        background-color: peru;
        color: white;

        .btn {
            background-color: wheat;
            border: none;
            color: peru;
            font-weight: bold;
            font-size: large;
        }
    }

    #lista {
        li {
            margin-bottom: 1em;
            padding: 1rem;

            &:hover {
                cursor: pointer;
                background-color: #efefef;
            }

            &[data-ativo='0'] {
                color: lightslategray;

            }

        }


    }

    .link-data{

        cursor: pointer;
    }

    .edit-line{
        background-color: $lightGray;
    }

}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }

    .print {
        display: block !important;
        overflow: hidden;
    }
}